.logo {
  font-family: "Monoton";
  float: left;
  font-size: 1.5em;
}

header {
  background-color: #4a4093;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

body {
  font-size: 18px;
  font-family: "Montserrat", sans-ser;
}

.navbar {
  background-color: #4a4093;
  z-index: 10;
}

.nav-item {
  z-index: 10;
}
.nav-item:hover {
  color: #f2b577;
  background-color: rgba(17, 12, 51, 0.7254901961);
  transition: all 0.3s ease;
  border-radius: 8px;
}
.nav-item.active {
  color: #f6cea6;
  transition: all 0.3s ease;
  border-radius: 8px;
  font: bold;
}

body {
  color: #ed9b49;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #4a4093;
}
header a {
  color: #ed9b49;
}

.logo {
  font-family: "Monoton";
  float: left;
  font-size: 1.5em;
}

.butt {
  height: -moz-fit-content;
  height: fit-content;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.log {
  background: #ed9b49;
  border: #ed9b49;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
}
.log:hover {
  background-color: #e98724;
  border: #e8821b;
  transition: all 0.3s ease;
}
.log:active {
  background-color: #a65b10;
}

.reg {
  background: #ed9b49;
  border: #ed9b49;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
}
.reg:hover {
  background-color: #e98724;
  border: #e8821b;
  transition: all 0.3s ease;
}
.reg:active {
  background-color: #a65b10;
}

.log-reg-buttons {
  float: right;
}

.row {
  margin: 0 auto;
}

.about-pic-text {
  width: 85%;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
}
.about-pic-text .text {
  float: left;
  margin-top: 5%;
  color: #4a4093;
}

.fam-picture {
  width: 350px;
  margin-right: 5%;
  float: right;
}
@media (max-width: 576px) {
  .fam-picture {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .fam-picture {
    width: 400px;
  }
}

.article {
  color: #4a4093;
  width: 85%;
}

body {
  box-sizing: border-box;
  color: #4a4093;
}

main {
  margin: 0 auto;
  padding: 0px;
}
.row {
  margin: 0 auto;
}

.content-p {
  margin-top: 2%;
  display: flex;
}

.card-info {
  width: 350px;
  height: 200px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.card-inner .front {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(45deg, #0045c7 0%, #ff2c7d 100%);
  padding: 20px 30px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
}
.card-inner .front .p-row, .card-inner .front .n-row, .card-inner .front .v-row, .card-inner .front .c-row {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-inner .front .map-p {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.card-inner .front .c-row {
  font-size: 20px;
  margin-top: 30px;
}
.card-inner .front .v-row {
  font-size: 11px;
  margin-top: 15px;
}
.card-inner .front .n-row {
  font-size: 14px;
  margin-top: -11px;
}

.content-p {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-ab {
  padding: 2%;
  background-color: rgba(123, 170, 164, 0.231372549);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.change-info {
  padding: 10%;
}
.change-info p {
  text-align: center;
  font-size: 1.2em;
  background-color: #7baaa4;
  border-radius: 10px;
}

.balance-info .hi {
  font-size: 1.5em;
}
.balance-info .balance {
  font-size: 2.5em;
  margin: 0.2em;
}

input[type=text],
input[type=password] {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}/*# sourceMappingURL=account.css.map */